<%- include ("header"); %>
<h1>About express App</h1>
<h2>Fast, unopinionated, minimalist web framework for Node.js</h2>
<p>What Is Express JS?     
    Express is a node js web application framework that provides broad features for building web and mobile applications. It is used to build a single page, multipage, and hybrid web application.
    It's a layer built on the top of the Node js that helps manage servers and routes.</p>
<%- include ("footer"); %>