
<%- include("header"); %>
   <h1>Homepage</h1>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero omnis sint, 
    nam reprehenderit a excepturi laborum tempore ullam. Dignissimos excepturi 
    autem recusandae vitae voluptatum,
     iure laborum eius dolorum nesciunt possimus.</p>
     <%- include("footer"); %>
