<%-include("header");%>
    <h1>about us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consequuntur itaque ab perferendis, unde, commodi sequi,
         voluptates deleniti recusandae dolore id. 
         Tempora optio minima odio eveniet cupiditate animi perspiciatis sint?</p>
         <%-include("footer");%>
