<%-include("header");%>
<h1>Register here</h1>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">name</label>
        <input type="text" class="form-control" name="name" required>
    </div>
    <div class="form-group">
        <label for="email">email</label>
        <input type="text" class="form-control" name="email" required>
    </div>
    <div class="form-group">
        <label for="mobile">Mobile</label>
        <input type="number" class="form-control" name="mobile" required>
    </div>
    <div class="form-group">
        <label >file</label>
        <input type="file" class="form-control" name="img" required>
    </div>
    <div class="form-group">
        <label for="password">password</label>
        <input type="password" class="form-control" name="password" required>
    </div>

    <button type="submit" class="btn btn-success">register</button>

</form>
<% if(msg!==""){%>
    <h2><%=msg%></h2>
<%}%>

<%-include("footer");%>